.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  border-top: 2px solid #c3201f;
  width: 1440px;
  height: 80px;
  display: flex;
  margin-bottom: 48px;
  gap: 160px;
  justify-content: center;
  align-items: center;
}
.red-dot {
  color: #c3201f;
}
.header-search-container {
  display: flex;
  align-items: center;
  gap: 36px;
}
.header-search {
  display: flex;
  border: 1px solid #c3201f;
  border-radius: 4px;
  width: 546px;
  height: 40px;
  font-size: 16px;
  padding-left: 16px;
}
.header-search-button {
  all: unset;
  margin-right: 16px;
}
.header-search-input {
  all: unset;
  width: 520px;
  font-size: 16px;
}
.header-user-container {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 192px;
  height: 56px;
  justify-content: center;
}
.header-user-text {
  font-size: 14px;
}
.main {
  display: flex;
  margin-bottom: 64px;
  align-items: start;
  gap: 32px;
}
.navigator-container {
  width: 256px;
  height: 317px;
  border: 1px solid #c3201f;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.navigator-tag {
  font-size: 16;
  font-weight: bold;
}
.navigator-button {
  all: unset;
  margin: 8px;
  font-size: 14px;
  font-weight: 600;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 144px;
  width: 1440px;
  background-color: #c3201f;
  color: #ffffff;
}

.footer-text {
  text-align: center;
}
.announce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 832px;
  padding: 16px 32px 16px 32px;
  gap: 16px;
}
.announce-register-button {
  all: unset;
  width: 80px;
  height: 33px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #c3201f;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.announce-header {
  width: 768px;
  height: 33px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
  align-items: end;
}
.announce-container-header {
  display: flex;
  justify-content: space-between;
  width: 736px;
  height: 31px;
  background-color: #c3201f;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  padding: 0 16px;
}
.announcecomponent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 736px;
  height: 31px;
  border-bottom: 1px solid #c3201f;
  font-size: 16px;
  font-weight: 500;
  padding: 0 16px;
}
.announce-index {
  width: 768px;
  height: 66px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}
.announce-search {
  all: unset;
  border: 1px solid #c3201f;
  border-radius: 4px;
  padding-left: 12px;
  width: 756px;
  height: 26px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.announce-search-button {
  all: unset;
  margin-right: 16px;
  cursor: pointer;
}
.announce-search-input {
  all: unset;
  width: 700px;
  font-size: 16px;
}
.announceregister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 832px;
  padding: 16px 32px 16px 32px;
  gap: 16px;
}
.announceregister-name {
  font-size: 16px;
  font-weight: bold;
}
.announceregister-name-input {
  all: unset;
  width: 752px;
  height: 55px;
  padding-left: 16px;
  border-radius: 12px;
  border: 2px solid #c3201f;
}
.announceregister-content-input {
  all: unset;
  width: 736px;
  height: 158px;
  padding: 16px;
  border-radius: 12px;
  border: 2px solid #c3201f;
}
.announceregister-header-name {
  font-size: 18px;
  font-weight: bold;
}
.announceregister-container {
  width: 768px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.announceregister-button {
  all: unset;
  width: 49px;
  height: 33px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #c3201f;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
