.App {
  display: flex;
  flex-direction: column;
}
.header {
  height: 80px;
  display: flex;
  margin-bottom: 48px;
  align-items: center;
  gap: 32px;
}
.header-search-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-search {
  border: 3px solid #c3201f;
  border-radius: 4px;
  width: 546px;
  height: 40px;
  font-size: 16px;
  padding-left: 16px;
}

.main {
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 144px;
  background-color: #c3201f;
  color: #ffffff;
}

.footer-text {
  text-align: center;
}
.announce {
  display: flex;
  flex-direction: column;
}
.announce-header {
  width: 768px;
  height: 33px;
}
